* {
    font-family: "Mohave";
    margin: 0;
    padding: 0;
}

a,
a:active {
    color: inherit;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.inline {
    display: inline;
}

.about-img {
    border-radius: 10px 0px 0px 0px;
}