$ballsize: 50px;
$times: 1;

.circle {
    border-radius: 100%;
    position: relative;
}

.large {
    background-color: orange;
    width: $ballsize*$times;
    height: $ballsize*$times;
    border-right: 2px*$times solid darken(orange, 1%);
    border-bottom: 2px*$times solid darken(orange, 1%);
}

.small {
    background-color: $BalticSea;
    width: calc(($ballsize*$times)/5);
    height: calc(($ballsize*$times)/5);
    box-shadow: .75px*$times .25px*$times 2px lighten($color: $BalticSea, $amount: 85%);
}

.small:first-child {
    position: relative;
    top: 11px*$times;
    left: 14px*$times;
}

.small:nth-child(2) {
    position: relative;
    top: 1px*$times;
    left: 28px*$times;
}

.small:last-child {
    position: relative;
    top: 4px*$times;
    left: 22px*$times;
}

.bowling-score:nth-child(odd) {
    // background-color: fon;
    border-left: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
}
.bowling-score:nth-child(even) {
    // background-color: fon;
    border-left: 1px solid #1c1c1c;
    // border-right: 1px solid black;
}